<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Miner Client</title>
    <!-- Css linha -->
    <link rel="shortcut icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/main.css">
    <!-- Bootstrap files -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
  </head>

  <body class="bg-body">
    <div>
        <header>
          <nav class="navbar navbar-inverse navbar-fixed-top">
              <a class="" href="index.html">Home</a>
              <a class="active" href="">Serviços Banker</a>
              <a class="" href="">Cotação Atual</a>
              <a class="" href="">Contato</a>
              <a class="" href="">Espaço do Cliente</a>
          </nav>
        </header>
        <img class="banner-hm" src="./img/banner01.jpg">
        <main>
          <ul class="packet-service">
            <li>
              <h2>Miner Moeda digital</h2>
              <img src="./img/give-money.png" alt="">
            </li>
            <li>
              <h2>Miner Debit Card</h2>
              <img src="./img/debit-card.png" alt="">
            </li>
            <li>
              <h2>Miner Coin</h2>
              <img src="./img/miner.png" alt="">
            </li>
          </ul>

        </main>

    </div>

  </body>

</html>
